
/* Universal Styles */
html{
  font-size:16px;
  color:rgb(0, 0, 0);
}

body {
  font-family: "Roboto", sans-serif;

}

h1{
  font-weight:600;
}

h2{
    font-weight:500;

}

h3{
    font-weight:200;

}

h4{
  font-weight:400;
}


p{
  font-size:1rem;
}

li{
  font-size:1rem;
}

/*navigation styles*/
.navbar{
  background-color:white;
  height:2.5rem;
}

.navbar-header .navbar-brand{
  padding-top:0.4rem;
}

.navbar-header .navbar-brand > a{

font-size:1.2rem;
margin-right:1.5rem;
color:black;

}

.navbar-header .navbar-brand > a > img{
  margin-left:0rem;

}

.navbar-default .navbar-nav > li > a {
    color: black;
    font-size:1rem;
    padding-top:.8rem;
}


.navbar-right li img{
 padding-top:.2rem;
 height:1.5rem;
}

/* HOME PAGE - banner styles*/
.banner-holder{
  background-color:rgb(230, 247, 255);
  margin-top:3rem;
  padding-left:2rem;
  text-align: center;

}

.banner-holder img{
  padding-top:2rem;
  padding-bottom:2rem;

}

.banner-holder .heading{
  padding-top:1rem;
  padding-bottom:0.5rem;

}

.banner-holder .statement{
  padding-bottom:0.5rem;

}

.banner-holder .contactinfo{
  padding-bottom:0.5rem;

}

/* HOME PAGE main features links*/
.mainfeatures{
  padding:1.5rem 0rem;
  background-color:rgb(255,255,255);
}

.mainfeatures .subheading{
  padding-top:1.75rem;
}

.featureitem{
transition-property:opacity;
 transition-duration: 500ms;
 text-align: center;

}

.featureitem a{
  text-decoration: none;
  color:black;
}


.featureitem:hover {
  opacity:.5;
  text-decoration:none;
}


/* OTHER PAGES- generic section on about, booking and treatment pages*/
.generic-holder{
  width:100%;
  background-color:rgb(255, 255, 255);
  margin-top:1.5rem;
  padding-bottom:1.5rem;

}

.generic-holder .generic-heading{
  padding-top:1rem;
  padding-bottom:0.5rem;

}

.generic-holder .generic-text{
  font-size:1rem;
}

.generic-holder .generic-linktext{
  font-size:1rem;
  color:rgb(0, 0, 0);
}

.generic-holder img{
  padding-top:4rem;
  padding-bottom:1rem;

}

.generic-holder .heading-bold{
  font-weight:bold;
  font-size:1.2rem;
}

.generic-main{
  background-color:rgb(255,255,255);
  margin-top:3rem;
  padding-bottom:0.5rem;
}

.generic-main .subheading{
  padding-top:1.5rem;
}


/*footer*/
.footer{
  padding-top:1rem;
  border-top:1px solid rgb(208,221,232);
    color:rgb(179, 179, 179);
    font-weight:lighter;
}
.footer-copyright{
  padding:.5rem 0rem;
}
.terms{
  padding:.5rem 0rem;
}
